
.navbar {
    display: flex;
    justify-content: space-between; /* This spaces out the two parts of the navbar */
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px; /* Padding around the entire navbar */
    font-family: "Gill Sans";
}

.gill-sans-font {
    font-family: "Gill Sans";
}

.home-description {
    font-family: Palatino, sans-serif;
    font-style: italic;
    font-size: 5.5em;
    align-items: center;
    justify-content: center;
    line-height: 1.25;
}

.content-container {
    padding: 50px;
    font-size: large;
    line-height: 2;

}

.navbar-container{

}

.next-button{
    background-color: lightsteelblue;
    border: none;
    color: black;
    float: right;
    margin: 40px;
}

.next-button:hover {
    background-color: lightblue;
}

.back-button {
    text-align: left;
    background-color: lightsteelblue;
    border: none;
    color: black;
    margin: 40px;
}

.back-button:hover {
    background-color: lightblue;
}

.footer {
    /*height: 40px; !* Define your footer height *!*/
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: left;
    padding: 30px ;
}

