
.navbar {
    display: flex;
    justify-content: space-between; /* This spaces out the two parts of the navbar */
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px; /* Padding around the entire navbar */
    font-family: "Gill Sans";
}

.gill-sans-font {
    font-family: "Gill Sans";
}

.home-description {
    font-family: Palatino;
    font-style: italic;
    font-size: xxx-large;
    align-items: center;
    justify-content: center;
}

.content-container {
    padding: 50px;
    font-size: large;
    line-height: 2;

}

.navbar-container{

}

.next-button{
    background-color: lightsteelblue;
    border: none;
    color: black;
    float: right;
}

.next-button:hover {
    background-color: lightblue;
}

