{% extends "layout.html" %}
{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script src="{{ url_for('static', filename='modalManager.js') }}"></script>
    <div class="content-container">
        <div class="backgroundcolor">
            <div class="content-container learn-backgroundcolor">
                <div id='wine-display' class="row">
                </div>
            </div>
        </div>
    </div>

    <!-- Modals -->
    <div id="modal-container">
        {% for wine_num, details in wines.items() %}
            <div class="modal fade" id="modal_{{ wine_num|string }}" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" style="width: 90%" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">{{ details['wine_name'] }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-3">
                                        <img class="wine-glass img-fluid" src="{{ details['wine_img'] }}">
                                    </div>
                                    <div class="col">
                                        {{ details['description'] }}
                                    </div>
                                </div>
                            <br/>
                                <div class="row">
                                    {% for pairing, img in details['pairs_with'].items() %}
                                        <div class="col">
                                            <img class="img-fluid" src="{{ img }}">
                                            <span class="caption">{{ pairing }}</span>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="title-container">
        Click on a wine glass to learn more
    </div>
{% endblock %}