<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:,">

    <!-- jquery -->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="{{ url_for('static', filename='timeStamper.js') }}"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

    <!-- icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Wine & food</title>
</head>

<div class="navbar-container">
    <nav class="row navbar navbar-expand-lg backgroundcolor">
        <div class="col-5">

        </div>
        {#    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">#}
        <div class="col-7 text-center">
            <ul class="navbar-nav mr-auto mt-2 mt-lg">
                <li class="nav-item active col">
                    <a class="nav-link navbar-text-color" href="#">home</a>
                </li>
                <li class="nav-item col">
                    <a class="nav-link navbar-text-color" href="/learn/1">wine profile</a>
                </li>
                <li class="nav-item col">
                    <a class="nav-link navbar-text-color" href="/quiz/1">quiz</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="content-container">
    <div class="row">
        <div class="col-5">
            <img class="img-fluid home-background-img"
                 src="https://i.pinimg.com/originals/e0/c5/4c/e0c54c190aa92a697a71d830dd98820f.jpg">

        </div>

        <div class="col-7 text-center">
            <div class="home-description">
                Know what
                <br>
                you're
                <br>
                drinking
                <div>
                    <button class="btn btn-lg start-button" id="start-btn">Start</button>
                </div>
            </div>
            
        </div>
        
    </div>
    <div class="row">
        <div class="footer gill-sans-font">
            <h1>
                Pour Decisions
            </h1>
        </div>
    </div>
</div>



</body>
</html>
