{% extends "layout.html" %}

{% block content %}
<head>
  <script src="{{ url_for('static', filename='quiz.js') }}"></script>
</head>

<title>{{ quiz['question'] }} - Wine Pairing Quiz</title>
<link rel="stylesheet" href="{{ url_for('static', filename='quiz.css') }}">
<!-- Add any other CSS you need for your quiz here -->

<div class="quiz-container body-font">
  <!-- Wine choices on the left -->
  <div class="wine-choices">
    {% for choice in quiz['wine_choices'] %}
    <div class="wine-choice" draggable="true" ondragstart="drag(event)" id="{{ choice['wine'] }}">
      <img src="{{ choice['image_url'] }}" alt="{{ choice['wine'] }}">
      <p>{{ choice['wine'] }}</p>
    </div>
    {% endfor %}
  </div>
  
  <!-- Plate and Food in the center -->
  <div class="food-pairing">
    <img src="{{ quiz['food_pairing']['image_url'] }}" alt="{{ quiz['food_pairing']['description'] }}" class="food-image">
  </div>
  
  <!-- Question and Drop Area on the right -->
  <div class="question-drop-area">
    <div class="question">
      {{ quiz['question'] }}
    </div>
    <div class="drop-area" style="width: 300px; height: 200px; border: 2px dashed #ccc;">
        Drop your wine choice here
      </div>
    <button class="next-q-button" id="next-question-btn" onclick="loadNextQuestion()">Next Question</button>
  </div>
</div>


{% endblock %}
